<nb-card>
  <nb-card-body>
    <form (ngSubmit)="save()">
      <nb-form-field>
        <div class="row">
          <input
            type="text"
            placeholder="Title"
            nbInput
            fullWidth
            name="title"
            [(ngModel)]="editConfig['title']"
            #name="ngModel"
          />
          <color-picker
            [value]="editConfig['accent']"
            (color)="editConfig['accent'] = $event"
          ></color-picker>
        </div>
      </nb-form-field>
      <div class="row justify-end">
        <button nbButton status="primary" type="submit">
          Save
          <nb-icon icon="save"></nb-icon>
        </button>
        <button
          nbButton
          status="basic"
          type="button"
          ghost
          outline
          (click)="close()"
        >
          Cancel
          <nb-icon icon="close"></nb-icon>
        </button>
      </div>
    </form>
  </nb-card-body>
</nb-card>
