<nb-card>
  <form [formGroup]="contentForm" (ngSubmit)="save()">
    <nb-card-header>
      <input
        nbInput
        fullWidth
        type="text"
        id="title"
        placeholder=" "
        formControlName="title"
      />
      <label for="title">Title</label>

      <nb-tag-list *ngIf="tags$ | async as tags">
        <nb-tag
          *ngFor="let tag of tags"
          appearance="outline"
          [text]="tag.name"
          [ngStyle]="{ color: tag.color, 'border-color': tag.color }"
        ></nb-tag>
      </nb-tag-list>

      <button
        nbButton
        status="info"
        ghost
        outline
        shape="round"
        size="small"
        type="button"
        (click)="openTagMenu()"
      >
        <nb-icon icon="pricetags"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body>
      <div class="col stretch fill">
        <md-input id="content" formControlName="description"></md-input>
        <div class="row justify-end">
          <button
            nbButton
            status="primary"
            type="submit"
            [disabled]="contentForm.status !== 'VALID'"
          >
            Save
            <nb-icon icon="save"></nb-icon>
          </button>
          <button
            nbButton
            status="basic"
            type="button"
            (click)="close()"
            ghost
            outline
          >
            Cancel
            <nb-icon icon="close"></nb-icon>
          </button>
        </div>
      </div>
    </nb-card-body>
  </form>
</nb-card>
