nb-card {
  width: 90vw;
  height: 90vh;
  overflow: auto;
}

nb-card-body {
  overflow-y: scroll;
}

md-input {
  height: 100%;
  margin: 10px 5px;
  overflow: auto;
}

form {
  display: contents;
}
