<nb-layout>
  <nb-layout-column>
    <h1>The Game</h1>
    <nb-card>
      <nb-card-body>
        <form (ngSubmit)="login()" [formGroup]="loginForm">
          <nb-form-field>
            <nb-icon nbPrefix icon="at-outline" pack="eva"></nb-icon>
            <input
              type="text"
              placeholder=" "
              nbInput
              fullWidth
              name="email"
              id="email"
              formControlName="email"
            />
            <label for="email">Email</label>
            <span class="error-message" *ngIf="isControlValid('email')"
              >Invalid email</span
            >
          </nb-form-field>
          <nb-form-field>
            <nb-icon nbPrefix icon="lock"></nb-icon>
            <input
              type="password"
              placeholder=" "
              nbInput
              fullWidth
              name="password"
              id="password"
              formControlName="password"
            />
            <label for="password">Password</label>
            <span class="error-message" *ngIf="isControlValid('password')"
              >Required password</span
            >
          </nb-form-field>
          <div class="row">
            <button
              nbButton
              status="primary"
              type="button"
              (click)="register()"
            >
              Register
            </button>
            <button
              nbButton
              status="basic"
              type="submit"
              [disabled]="!isFormValid"
            >
              Log in
            </button>
            <nb-checkbox
              status="basic"
              name="keepLogged"
              formControlName="keepLogged"
              >Keep Logged</nb-checkbox
            >
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
