<nb-layout>
  <nb-layout-column>
    <h1>The Game</h1>
    <nb-card>
      <nb-card-body>
        <form (ngSubmit)="login()">
          <nb-form-field>
            <nb-icon nbPrefix icon="at-outline" pack="eva"></nb-icon>
            <input
              type="text"
              placeholder="Email"
              nbInput
              fullWidth
              name="email"
              #name="ngModel"
              [(ngModel)]="user.email"
            />
          </nb-form-field>
          <nb-form-field>
            <nb-icon nbPrefix icon="lock"></nb-icon>
            <input
              type="text"
              placeholder="Password"
              nbInput
              fullWidth
              name="password"
              #name="ngModel"
              [(ngModel)]="user.password"
              type="password"
            />
          </nb-form-field>
          <div class="row">
            <button
              nbButton
              status="primary"
              type="button"
              (click)="register()"
            >
              Register
            </button>
            <button nbButton status="basic" type="submit">Log in</button>
            <nb-checkbox
              status="basic"
              name="keepLogged"
              #name="ngModel"
              [(ngModel)]="user.keepLogged"
              >Keep Logged</nb-checkbox
            >
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
