<nb-layout>
  <nb-layout-column>
    <h1>The Game</h1>
    <nb-card>
      <nb-card-body>
        <form>
          <nb-form-field>
            <nb-icon nbPrefix icon="at-outline" pack="eva"></nb-icon>
            <input type="text" placeholder="Email" nbInput fullWidth />
          </nb-form-field>
          <nb-form-field>
            <nb-icon nbPrefix icon="lock"></nb-icon>
            <input type="text" placeholder="Password" nbInput fullWidth />
          </nb-form-field>
          <div class="buttons-row">
            <button nbButton status="primary">Register</button>
            <button nbButton status="basic">Log in</button>
            <nb-checkbox status="basic">Keep Logged</nb-checkbox>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
