<nb-card>
  <nb-card-body>
    <div class="row justify-start">
      <p>
        {{ task.content!["title"] }}
      </p>
      <button nbButton status="danger" type="submit" ghost size="small">
        <nb-icon icon="trash"></nb-icon>
      </button>
    </div>
    <div class="row justify-start">
      <nb-tag-list>
        <nb-tag
          *ngFor="let tag of task?.config?.tags"
          appearance="outline"
          [text]="tag.name"
          size="tiny"
          [ngStyle]="{ color: tag.color, 'border-color': tag.color }"
        ></nb-tag>
      </nb-tag-list>
    </div>
  </nb-card-body>
</nb-card>
