:host {
  min-width: var(--board-section-min-width);
  margin: var(--board-section-margin);
}

button {
  padding: 0 !important;
  margin: 0 !important;
}

nb-card {
  height: 75vh;
  border-radius: 1rem;
}

nb-card-body::-webkit-scrollbar {
  width: 8px;
}

nb-card-body::-webkit-scrollbar-track {
  background: transparent;
}

nb-card-body::-webkit-scrollbar-thumb {
  background-color: var(--border-primary-color-1);
  border-radius: 20px;
}

nb-card-header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1.5rem;
  background-color: var(--color-primary-700);
  border-radius: 1rem 1rem 0 0;
  border-top-color: tomato;
  border-top-style: solid;
  border-top-width: 5px;
}

nb-card-body {
  overflow-y: scroll;
  background-color: var(--color-basic-700);
  border-radius: 0 0 1rem 1rem;
}
