<nb-layout>
  <nb-layout-header fixed>
    <nb-actions>
      <nb-action
        [icon]="sidebarOpen ? 'chevron-left' : 'menu'"
        (click)="toggle()"
      ></nb-action>
    </nb-actions>
  </nb-layout-header>

  <nb-sidebar state="compacted" (click)="expand()">
    <nb-menu [items]="menuItems"></nb-menu>
  </nb-sidebar>
  <nb-layout-column>
    <div
      id="resizer"
      class="divider"
      [ngClass]="{ resizer: sidebarOpen }"
      (mousedown)="resizing = true"
      (window:mouseup)="resizing = false"
    ></div>
    <ng-content></ng-content>
  </nb-layout-column>
</nb-layout>
