@use "themes" as *;

@use "@nebular/theme/styles/globals" as *;

@include nb-install() {
  @include nb-theme-global();
}
/* You can add global styles to this file, and also import other style files */
input {
  margin: 10px 5px 10px 5px;
}

button {
  margin: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

nb-sidebar,
nb-sidebar > *,
.resizer {
  transition: 0.2s ease-out;
}

.divider {
  height: 100vh;
  width: 2px;
  position: fixed;
  margin: -2.25rem;
  background-color: var(--border-primary-color-1);
}

.resizer {
  &:active,
  &:hover {
    cursor: ew-resize;
    user-select: none;
  }
}
